.card-container {
  display: grid;
  grid-template-columns: repeat(3, 320px);
  justify-content: space-evenly;
  row-gap: 50px;
}

.info-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 90%;
  margin: 50px auto;
}

.display-heading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.display-heading h2 {
  margin-bottom: 40px;
  font-size: 1.8rem;
  font-weight: 900;
  display: inline-block;
  border-bottom: 2px solid rgb(255, 102, 0);
}
